.About-img{
    background-color: #000000;
    height: 100vh;
}
.About-img1{
    height: 100vh;
    margin-left: 760px;
}
h1{
    padding: 15px;
}
h2{
    padding: 15px;
}
.P1{
    font-size: 1.9em;
    text-align: center;
    padding-left: 650px;
    padding-top: 10px;
    margin-top: -630px;
    color: #ffffff;
 }
 .P2{
    font-size: 1.6em;
    text-align: center;
    margin-right: 708px;
    padding-top: 10px;
    margin-top: -630px;
    color: #ffffff;
 }